
.button {
  background-color:#b7241e;
  color: #fff;
  border: none;
  position: relative;
  top: 0px;
  float:right;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4b4949;
  color: #fff;
  border: none;
}

.button_cad {
  background-color:#b7241e;
  color: #fff;
  border: none;
  position: relative;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button_cad:hover {
  background-color: #4b4949;
  color: #fff;
  border: none;
}


.img {
  width: 300px;
  height: 100px;
  object-fit: contain;
  -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);
}
.h2{
  color: #831915;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: #EC908D;
  padding: 10px;
}

.container { 
  width: auto;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.centralwidget {
  width: auto;
  height: auto;
  background-color: #EC908D;
  padding: 15px;
  border-radius: 8px;
  -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);
}

.text_field {
  color: #222;
  padding-bottom: 0;
  margin: 5px;
  flex-direction: column;
}
.field {
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  height: 20px;
}

.text_body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field_form {
  width: auto;
  background-color:lightgray ;
  outline: none;
  font-size: 0.9em;
  padding: 25px 10px 10px;
  font-weight: 600;
  color: darkslategrey;
  border: none;
}

.field_attrib {
  width: auto;
  background-color:lightgray ;
  outline: none;
  font-size: 1em;
  padding: 10px;
  font-weight: 600;
  color: darkslategrey;
}

.field_span {
  position: absolute;
  color: #222;
  font-size: 0.8em;
  font-weight: 700;
  margin: 5px 1vh;
  justify-items: auto;
  align-items: center;
}

